<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.label :barcode, style: "display: block" %>
    <%= form.text_field :barcode %>
    <%= form.button "Scan", type: "button", class: "btn", onclick: "getScan()" %>
  </div>

  <div>
    <%= form.label :valid_to, style: "display: block" %>
    <%= form.datetime_field :valid_to %>
  </div>

  <div>
    <%= form.label :brand_id, style: "display: block" %>
    <select name="item[brand_id]" id="item_brand_id">
      <% Brand.all.each do |brand| %>
        <option value="<%= brand.id %>">
          <%= brand.name %>
        </option>
      <% end %>
    </select>
  </div>

  <div>
    <%= form.label :location_id, style: "display: block" %>
    <select name="item[location_id]" id="item_location_id">
      <% Location.all.each do |location| %>
        <option value="<%= location.id %>">
          <%= location.name %>
        </option>
      <% end %>
    </select>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">
    // https://stackoverflow.com/questions/13347145/android-barcode-scanner-integration-with-web-page
    function processBarcode(barcodeString) {
        // var d = document.createElement("div");
        // d.innerHTML = b;
        // document.body.appendChild(d);
        document.getElementById('item_barcode').value = barcodeString;
    }

    //This entire block of script should be in a separate file, and included in each doc in which you want scanner capabilities
    function zxinglistener(e) {
        localStorage["zxingbarcode"] = "";
        if (e.url.split("\#")[0] === window.location.href) {
            window.focus();
            processBarcode(decodeURIComponent(e.newValue));
        }
        window.removeEventListener("storage", zxinglistener, false);
    }

    if (window.location.hash !== "") {
        localStorage["zxingbarcode"] = window.location.hash.substr(1);
        self.close();
        window.location.href = "about:blank";//In case self.close is disabled
    } else {
        window.addEventListener("hashchange", function (e) {
            window.removeEventListener("storage", zxinglistener, false);
            var hash = window.location.hash.substr(1);
            if (hash !== "") {
                window.location.hash = "";
                processBarcode(decodeURIComponent(hash));
            }
        }, false);
    }

    function getScan() {
        var href = window.location.href.split("\#")[0];
        window.addEventListener("storage", zxinglistener, false);
        zxingWindow = window.open("zxing://scan/?ret=" + encodeURIComponent(href + "#{CODE}"), '_self');
    }
</script>
