<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= item.notes %>
  </p>

  <p>
    <strong>Barcode:</strong>
    <%= item.barcode %>
  </p>

  <p>
    <strong>Valid to:</strong>
    <%= item.valid_to %>
  </p>

  <p>
    <strong>Brand:</strong>
    <% Brand.all.each do |brand| %>
      <% if brand.id == item.brand_id %>
        <%= brand.name %>
      <% end %>
    <% end %>
  </p>

  <p>
    <strong>Location:</strong>
    <% Location.all.each do |location| %>
      <% if location.id == item.location_id %>
        <%= location.name %>
      <% end %>
    <% end %>
  </p>

</div>
