<%= turbo_stream_from "item" %>
<p style="color: green"><%= notice %></p>

<h1>Items</h1>

<div id="items">
  <% @items.each do |item| %>
    <%= turbo_frame_tag "item" do %>
      <%= render item %>
      <p>
        <%= link_to "Show this item", item, 'data-turbo-frame': :_top %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New item", new_item_path %>
