<p style="color: green"><%= notice %></p>

<%= turbo_stream_from "item" %>
<%= turbo_frame_tag "item" do %>
  <%= render @item %>
<% end %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>

  <%= button_to "Destroy this item", @item, method: :delete %>
</div>
