<tr id="<%= dom_id brand %>" class="bg-white border-b">
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <%= link_to brand.id, brand %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <%= link_to brand.name, brand %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <%= brand.notes %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <%= brand.created_at %>
  </td>
</tr>
